*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    background-color: #00102E;
}

header .logo img{
    max-width: 100px;
}

header .cart{
    display: flex;
    align-self: center;
    max-width: 44px;
    height: 44px;
    background-color:#FFEC00 ;
    border-radius: 50%;
}

header .cart a{
    color: #000;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;   
    text-align: center;
    text-decoration: none;
}


table{
    padding: 15px;
    width: 100%;
    
}

thead {
    font-weight: bold;
    font-size: 16px;
}

td{
    font-size: 14px;
}

td p{
    margin-top: 8px;
}

input[type=number]{
    max-width: 50px;
    
}

button{
    background-color: #FFEC00;
    border: 0;
    color: #000;
    margin-top: 15px;
    padding: 8px;
}

.image-event img{
    width: 50%;
    border-radius: 10px
}

.event-info h2{
    padding: 10px 0;
}


.input-price{
    width: 40px;
}

.card-header {
    background-color: #00102E;
    color: white;
}

.card-header h3{
    font-size: 18px;
}

.choose-ticket{
    padding: 30px 15px;
}

.choose-ticket h5{
    font-size: 16px;
    font-weight: bold;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    margin-left: 8px;
  }



  td.total{
    padding-top: 10px;
  }
  td.total span{
    font-size: 18px;
    font-weight: bold;
  }
label.company-name{
    width: 100%;
}
label{
    width: 48%;
    margin-left: 1.5%;
}

